.card.db {
    border-radius: 20px;
    background-color: #ffff;
    border: none;
}

.card-footer.card-ft {
    background-color: #ffff;
    border: none;
    border-radius: 20px;

.btn.btn-db {
    align-content: center;
    background-color: #aef261;
    border-radius: 10px;
}
}