.menu-card {
    border: none;
    border-radius: 20px;
    margin-top: 25px;
}

.foto-menu {
    height: auto;
    max-width: 100%;
    padding: 10px;
}

.btn-menu {
    background-color: #aef261;
    border-radius: 8px;
    border-style: none;
    text-align: center;
}

.judul-menu {
    font-weight: 600;
}

.bg-menu {
    background-color: #fff;
    padding: 30px 30px 30px 30px;
    border-radius: 20px;
    margin-bottom: 30px;

}


.breadcrumb {
    text-decoration: none;
    font-weight: 300;
    color: #000;
}
